<div class="d-flex" style="gap: 20px;">

  <!-- Sidebar -->
  <div class="flex-shrink-0 bg-white text-dark p-4 border shadow-sm rounded" style="width: 20%;">
    <h4 class="fw-light">Manage</h4>
    <hr>
    <ul class="nav flex-column" id="sidebarMenu">
      <li class="nav-item mb-2">
        <button
          class="btn w-100 text-start sidebar_button fw-light"
          [ngClass]="active_tab === 'users' ? 'active' : ''"
          (click)="loadContent('users')"
        >Users</button>
      </li>
      <li class="nav-item mb-2">
        <button
          class="btn w-100 text-start sidebar_button fw-light"
          [ngClass]="active_tab === 'distribution' ? 'active' : ''"
          (click)="loadContent('distribution')"
        >Distribution</button>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 bg-white p-4 border shadow-sm rounded">
    <h4 id="content-title" class="fw-light">Manage Dashboard</h4>
    <hr>
    <router-outlet></router-outlet>
  </div>

</div>
