<div class="container mt-4">
  <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">

    <div formArrayName="users" class="d-flex flex-column gap-3">
      <div
        *ngFor="let user of users.controls; let i = index"
        [formGroupName]="i"
        class="d-flex flex-wrap align-items-center gap-3 p-3 border rounded"
      >
        <div class="d-flex flex-column flex-33">
          <label class="fw-bold mb-1">Name</label>
          <input
            class="border px-2 py-1 rounded flex-1"
            type="input"
            formControlName="user_name"
          />
        </div>

        <div class="d-flex flex-column flex-33" *ngIf="!water_department">
          <label class="fw-bold mb-1">Liters</label>
          <input
            class="border px-2 py-1 rounded flex-1"
            type="number"
            formControlName="liters"
          />
        </div>

        <div class="d-flex flex-column flex-33" *ngIf="water_department">
          <label class="fw-bold mb-1">Water Cane</label>
          <input
            class="border px-2 py-1 rounded flex-1"
            type="number"
            formControlName="water_cane"
          />
        </div>

        <div class="d-flex flex-column flex-33">
          <label class="fw-bold mb-1">Paid Amount</label>
          <input
            class="border px-2 py-1 rounded flex-1"
            type="number"
            formControlName="paid_amount"
          />
        </div>

        <div class="d-flex flex-column flex-33">
          <label class="fw-bold mb-1">Payment Status</label>
          <input
            class="border px-2 py-1 rounded flex-1"
            type="input"
            formControlName="payment_status"
          />
        </div>

      </div>
    </div>

    <!-- Actions -->
    <div class="d-flex gap-3 mt-4 justify-content-center">
      <button type="button" class="btn btn-primary" (click)="onClickPay()">Pay</button>
    </div>
  </form>
</div>

<app-reusable-modal *ngIf="isOpenConfirmation"
  [mucModalOptions] = "modalOptions"
  (mucSaveMethod) = "callMucSaveMethod($event)"
  (mucCancelMethod) = "callMucCancelMethod($event)"
  (mucCrossMethod) = "callMucCrossMethod($event)"
>

</app-reusable-modal>
