.user-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rows-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.row {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #eee;
  padding-top: 0.5rem;
}

.row-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-33 {
  flex: 1 1 calc(33.333% - 1rem);
  max-width: 33.333%;
}
